$main_color_black:#000000; //For all text
$bg_color:#f7f7f7; //For Background use 
$bt_color:#ff6a00; //For Button, Link, Feature Text use 
$bdr_color_grey:#e3e3e3;  //For Button, Link, Feature Text use 

#shopify-section-header{
    border-bottom: 1px solid $main_color_black;

    .site-header, .site-header__mobile-nav{
        background-color: $bg_color;
    }
    .site-header__icon svg {
        height: 30px;
        width: 30px;
        vertical-align: middle;
    }
    
}

#ProductSection-product-template{
        background-color: $bg_color;

}

//when theme setting is Logo Align Centre
.site-header.logo--center{
    padding: 10px!important;
    ul.site-nav{
        padding-bottom: 0px;
        text-align: left;
        margin: 25px;
        font-weight: 600;
        font-size: 18px;
    }
    form.search-header {
        max-width: 180px;
        .search-header__input {
            outline: none;
            border-color: #949494;
            cursor: auto;
            border-radius: 20px;
            min-height: 38px;
        }
    }

}